#csv-header {
  display: flex;
}

#csv-header > div {
  width: 100px;
  overflow: hidden;
  margin-right: 5px;
  color: red;
  border-bottom: 2px solid black;
  text-align: center;
}

#csv-rows > span {
  display: inline-block;
  width: 100px;
  overflow: hidden;
  margin-right: 5px;
  color: seagreen;
  border-right: 2px solid black;
  border-left: 2px solid black;
  text-align: center;
}

.well {
  width: 90%;
  min-height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color: lightgrey;
  text-align: center;
}

.hidden {
  display: none;
}

.button-container {
  text-align: center;
  margin-top: 55px;
}
