#csv-header {
  display: flex;
}

#csv-header > div {
  width: 100px;
  overflow: hidden;
  margin-right: 5px;
  color: red;
  border-right: 1px solid black;
}

#csv-rows > span {
  display: inline-block;
  width: 100px;
  overflow: hidden;
  margin-right: 5px;
  color: seagreen;
  border-right: 1px solid black;
}

.well {
  width: 90%;
  min-height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color: lightgrey;
  text-align: center;
}
